  <!-- FOOTER -->
  <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="col">
                     <h4>Contacto</h4>
                     <ul>
                          <li>Coronel Pereira 72, Piso 11, Las Condes</li>
                          <li>+56 2 2378 7720 - Cursos En Sede</li>
                          <li>+56 2 2378 7725 - Cursos In Office</li>
                          <li><a href="mailto:contacto@longbourn.cl">contacto@longbourn.cl</a></li>
                      </ul>
                   </div>
              </div>

              <div class="col-md-3">
                <div class="col">
                  <h4>Jobs Longbourn</h4>
                  <ul>
                    <li>Buscamos profesionales talentosos que se adecúen a nuestro perfil de trabajo. Postula <%=link_to "aqui", jobs_longbourn_path, {"data-no-turbolink" => true}%></li>
                  </ul>
                </div>
              </div> 

              <div class="col-md-3">
                <div class="col">
                  <h4>Web de Estudiantes</h4>
                  <ul>
                    <li><%=link_to "students.longbourn.cl", "http://students.longbourn.cl", {:target => "_blank"}%></li>
                  </ul>
                </div>
              </div>           
              
              <div class="col-md-3">
                  <div class="col col-social-icons">
                      <h4>Síguenos en</h4>
                      <a href="http://www.facebook.com/longbourn.ingles" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="http://twitter.com/ingleslongbourn" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="http://plus.google.com/113778967564203146683" target="_blank"><i class="fa fa-google-plus"></i></a>
                      <a href="http://www.linkedin.com/company/2298092" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>

          </div>
          
          <hr>
          
          <div class="row">
              <div class="col-lg-9 copyright">
                  &copy; 2014 Longbourn. All rights reserved.
              </div>
          </div>
      </div>
  </footer>
  <!--FIN FOOTER-->
</div>
<!-- /body-wrap -->

