<footer>
  <div class="footerlink">
    <article class="col2 pad_left1">
      <div class="wrapper under">
        <figure class="left marg_right1"><%=image_tag "page1_img4.jpg"%></figure>
        <p class="pad_bot2"><strong>Foto de la sede</strong></p>
        <p class="pad_bot2"><strong>Contactanos</strong> mas info, lalalalalalalala lalalalal lalala lalala lalala
        <br>Telefono : +56 4343456
        <br>Direccion, Badajoz 130 of 405 Las Condes Stgo
        <br>Coronel Pereira, lalalalalalalalal
        <br>Dudas y consultas escribir al mail tengodudas@lb.cl
        <br>Acreditaciones, cosas legales y demás
        <br>sdljkhseajkdh ehbgfdedfedf ue f ue f efoh fieofhe wf iefh eoihf  fiehf oieh f foieh foie fihe foiehf iehf ehf oiehfoiehfo eifh oehfo efhoeifh oihef iewfhef </p>
      </div>
    </article>
        <br><br><br><figure><%=image_tag "logo.png"%></figure>
    <div style="clear:both;"></div>
  </div>
</footer>