<div class="container">
  <!-- Navigation & Logo-->
  <div class="mainmenu-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <nav class="banner-menu">
              <div class="logo-wrapper"><%=link_to root_url do%><%=image_tag "LogoLongbourn1.png"%><%end%></div>
          </nav>
        </div>
        <div class="col-xs-4 col-xs-offset-4 menuextras">
          <div class="extras">
            <div class="row">
              <div class="contact pull-right">
                Coronel Pereira 72 Piso 11, Las Condes
              </div>
            </div>
            <div class="row">
              <div class="contact pull-right" style="margin-top: 5px;">
                <i class="fa fa-phone-square fa-lg"></i> +56 2378 7755
              </div>
            </div>
            <div class="row">
              <%#render :partial => "site/facebook_login_form"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav role="navigation" class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav navbar-nav">
            <li>
                <a href="longbourn-executive">Inglés In Office </a>
            </li>
            <li>
              <a href="ingles-en-sede">Inglés en Sede</a>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Preparación Tests <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="cursos-toefl">TOEFL</a></li>
                  <li><a href="cursos-ielts">IELTS</a></li>
                  <li><a href="cursos-toeic">TOEIC</a></li>
                </ul>
            </li>
            <li>
              <a href="metodologia-teg">Metodología TEG</a>
            </li>
            <li>
              <a href="empresas">Empresas</a>
            </li>
            <li>
              <%=link_to "Contactanos", {:controller => :site, :action => :contact_us}%>
            </li>
            <li>
              <%=link_to "Cotiza!", {:controller => :site, :action => :show_challenges}%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
