<div class='main'>
  <div class="wrapper">
    <h1><a href="index.php" id="logo">Longbourn Institute</a></h1>

    <div class="right">
      <div class="wrapper">
        <form id="search" action="#" method="post">
          <div class="bg">
            <input type="submit" class="submit" value="">
            <input type="text" class="input">
          </div>
        </form>
      </div>
      <div class="wrapper">
        <%=render :partial => "site/facebook_login_form"%>
      </div>

      <div class="wrapper">
        <nav>
          <br>
          <ul id="top_navi">
            <li><a href="#">Prueba de diagn&oacutestico</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <nav>
    <ul id="menu">
      <li><a href="index.html" class="nav1"><p align=center>Longbourn<br>Executive</p></a></li>
      <li><a href="about.html" class="nav2"><p align=center>Longbourn<br>Institute</p></a></li>
      <li><a href="tours.html" class="nav3"><p align=center>Longbourn<br>Start Up</p></a></li>
      <li><a href="tours.html" class="nav4"><p align=center> <br>Servicios</p></a></li>
      <li class="end"><%=link_to organization_signup_site_index_path, {:class => "nav1"} do %>
        Empresas<br>
        <p></p>
        <%end%></li>
    </ul>
  </nav>
</div>
