<div class="container">
  <!-- Navigation & Logo-->
  <div class="mainmenu-wrapper">
    <div class="container-fluid">
      <div class="menuextras">
        <div class="extras">
          <ul>
            <li><%=render :partial => "site/facebook_login_form"%></li>
          </ul>
        </div>
      </div>
      <nav class="banner-menu">
          <div class="logo-wrapper"><%=link_to root_url do%><%=image_tag "LogoLongbourn1.png"%><%end%></div>
      </nav>
    </div>
  </div>

  <nav role="navigation" class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Longbourn Executive <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="cursos-de-ingles-personalizados-in-office">Cursos de Inglés Personalizados In Office</a></li>
                <li><a href="workshops-de-inmersion-en-ingles">Workshops de Inmersión en Inglés</a></li>
                <li><a href="workshops-interempresariales-en-ingles">Workshops InterEmpresariales en Inglés</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Longbourn Institute <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="cursos-de-ingles-grupales-in-office">Cursos de Inglés Grupales In Office</a></li>
                <li><a href="cursos-de-ingles-presenciales">Cursos de Inglés Presenciales</a></li>
                <li><a href="cursos-de-ingles-semi-presenciales">Cursos de Inglés Semi Presenciales</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Longbourn StartUp <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                  <li><a href="cursos-de-ingles-startup-presenciales">Cursos de Inglés StartUp Presenciales</a></li>
                  <li><a href="cursos-de-ingles-startup-semi-presenciales">Cursos de Inglés StartUp Semi Presenciales</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pruebas Internacionales <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="cursos-de-preparacion-toefl">Curso de Preparación TOEFL</a></li>
                <li><a href="cursos-de-preparacion-ielts">Curso de Preparación IELTS</a></li>
                <li><a href="cursos-de-preparacion-toeic">Curso de Preparación TOEIC</a></li>
              </ul>
          </li>
          <li>
              <a href="teg-method">TEG Method </a>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Empresas <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="programas-ejecutivos">Programas Ejecutivos</a></li>
                <li><a href="programas-corporativos">Programas Corporativos</a></li>
                <li><a href="soluciones-de-motivacion">Soluciones de Motivación</a></li>
              </ul>
          </li>
          <li>
            <%=link_to "Cotiza", :controller => :site, :action => :show_challenges%>
          </li>
      </ul>
    </div>
  </nav>

