<div class="container">
  <!-- Navigation & Logo-->
  <div class="mainmenu-wrapper">
    <div class="container-fluid">
      <div class="menuextras">
        <div class="extras">
          <ul>
            <li><%=render :partial => "site/facebook_login_form"%></li>
          </ul>
        </div>
      </div>
      <nav class="banner-menu">
          <div class="logo-wrapper"><a href="index.html"><%=image_tag "LogoLongbourn1.png"%></div>
      </nav>
    </div>
  </div>

  <nav role="navigation" class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Home</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Longbourn Executive <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Cursos de Inglés Personalizados</a></li>
                <li><a href="#">Workshops de Inmersión en Inglés</a></li>
                <li><a href="#">Workshops InterEmpresariales en Inglés</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Longbourn Institute <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Cursos de Inglés Grupales In Office</a></li>
                <li><a href="#">Cursos de Inglés Presenciales</a></li>
                <li><a href="#">Cursos de Inglés Semi Presenciales</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Longbourn StartUp <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Cursos de Inglés StartUp Presenciales</a></li>
                  <li><a href="#">Cursos de Inglés StartUp Semi Presenciales</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pruebas Internacionales <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Curso de Preparación TOEFL</a></li>
                <li><a href="#">Curso de Preparación IELTS</a></li>
                <li><a href="#">Curso de Preparación TOEIC</a></li>
              </ul>
          </li>
          <li>
              <a href="#">TEG Method </a>
          </li>
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Empresas <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Programas Ejecutivos</a></li>
                <li><a href="#">Programas Corporativos</a></li>
                <li><a href="#">Soluciones de Motivación</a></li>
              </ul>
          </li>
      </ul>
    </div>
  </nav>

