<div class='main'>
  <div class="wrapper">
    <h1><a href="index.php" id="logo">Longbourn Institute</a></h1>

    <div class="right">
      <div class="wrapper">
        <form id="search" action="#" method="post">
          <div class="bg">
            <input type="submit" class="submit" value="">
            <input type="text" class="input">
          </div>
        </form>
      </div>
      <div class="wrapper">
        <nav>
          <ul id="top_nav">
            <li><a href="#">Reg&iacutestrate</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
      </div>

      <div class="wrapper">
        <nav>
          <br>
          <ul id="top_navi">
            <li><a href="#">Prueba de diagn&oacutestico</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <nav>
    <ul id="menu" class="menu">
      <li>
      <a href="index.html" class="nav1"><p align=center>Longbourn<br>Executive</p></a>
        <ul>
          <li><a href="index.html" class="nav1"><p align=center>option A</p></a></li>
          <li><a href="index.html" class="nav1"><p align=center>option B</p></a></li>
        </ul>
      </li>
      <li>
      <a href="about.html" class="nav2"><p align=center>Longbourn<br>Institute</p></a>
        <ul>
          <li><a href="index.html" class="nav1"><p align=center>option A</p></a></li>
          <li><a href="index.html" class="nav1"><p align=center>option B</p></a></li>
        </ul>
      </li>
      <li>
      <a href="tours.html" class="nav3"><p align=center>Longbourn<br>Start Up</p></a>
        <ul>
          <li><a href="index.html" class="nav1"><p align=center>option A</p></a></li>
          <li><a href="index.html" class="nav1"><p align=center>option B</p></a></li>
        </ul>
      </li>
      <li>
      <a href="tours.html" class="nav4"><p align=center> <br>Servicios</p></a>
        <ul>
          <li><a href="index.html" class="nav1"><p align=center>option A</p></a></li>
          <li><a href="index.html" class="nav1"><p align=center>option B</p></a></li>
        </ul>
      </li>
      <li>
      <a href="tos.html" class="nav4-2"><p align=center>Sobre<br>Nosotros</p></a>
        <ul>
          <li><a href="index.html" class="nav1"><p align=center>option A</p></a></li>
          <li><a href="index.html" class="nav1"><p align=center>option B</p></a></li>
        </ul>
      </li>
      <li class="end"><a href="contacts.html" class="nav5"><p align=center><br>Empresas</p></a>
        <ul>
          <li><a href="index.html" class="nav1"><p align=center>option A</p></a></li>
          <li><a href="index.html" class="nav1"><p align=center>option B</p></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
