<div id="user_nav" class="registration-links pull-right">
	<%if current_user%>
		Identificado como <strong><%=current_user.name%></strong>
		<%=link_to "Log out", {:controller => "users", :action => "logout"}, {:class => "sign_out"}%>
	<%else%>
		<%=link_to "Ingresa!", {:controller => "site", :action => "signup"}, :class => "btn btn-blue"%>
	<%end%>
</div>