<div id="user_nav" class="registration-links">
	<%if current_user%>
		Logeado como <strong><%=current_user.name%></strong>
		<%=link_to "Log out", {:controller => "users", :action => "logout"}, {:class => "sign_out"}%>
	<%else%>
		<%=link_to "Identificate", {:controller => :site, :action => :login}%> / 
		<%=link_to "Registrate", :controller => "site", :action => "signup"%>
	<%end%>
</div>