<div id="user_nav">
	<%if current_user%>
		Logeado como <strong><%=current_user.name%></strong>
		<%=link_to "Log out", {:controller => "users", :action => "logout"}, {:class => "sign_out"}%>
	<%else%>
		Login con <%=link_to "Facebook", "/auth/facebook", :class => "sign_in"%> / 
		<%=link_to "Registrate", :controller => "site", :action => "signup"%>
	<%end%>
</div>