<div class="basic-login">
	<h4><%=flash[:notice]%></h4>
	<%=form_tag :controller => "users", :action => "longbourn_login" do%>
		<div class="form-group">
			<label for="email">Email</label>
			<%=text_field_tag :email, nil, :class => "form-control"%>
		</div>
		<div class="form-group">
			<%=submit_tag "Login", :class => "btn btn-lg pull-right"%>
			<div class="clearfix"></div>
		</div>
	<%end%>
</div>