<div class="section">
	<div class="container-fluid">
		<h2>Listado de Cursos Longbourn</h2>
    	<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "services3.jpg"%>
				</div>
			</div>
			<div class="col-sm-8">
				<h3>Cursos Individuales InOffice</h3>
				<p>
					Cursos individuales que se llevarán a cabo sin que te muevas de tu oficina!
					Contactate con nosotros y comienza a aprender ingles!
					<%=link_to "Cotizar", "", :class => "btn"%> 
				</p>
			</div>
		</div>
	</div>
</div>