<div class="extra">
	<div class="main">
		<article class="col1">
			<ul class="tabs">
				<li><a href="#" class="active">Busca tu curso ideal</a></li>
			</ul>
			<div class="tabs_cont">
				<div class="bg">
					<div class="wrapper">
					<font color="white">
						<%=form_tag :controller => "site", :action => "test_results" do%>
							Resultados del test : <%=number_field_tag :results%>
							<%=submit_tag "Rendir Prueba de Diagnostico", :class => "button"%>
						<%end%>
					</font>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>