<div class="extra">
	<div class="main">
			<div class='tabs_cont'>
				<div class='bg'>
					<div class='wrapper'>
						<font color='white'> <br>
						<h1>Gracias por Interesarte en Longbourn Institute</h1>
						<h1>Nos pondremos en contacto contigo a la brevedad</h1>
						<h1>;D</h1>
						</font>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>