<div class="section">
	<div class="container-fluid">
		<h2>Objetivos de Longbourn</h2>
		<div class="row" id="objectives-bg">
			<div class="col-sm-3">
				<div class="service-wrapper objective" id="obj-1">
					<h3>Comprensión y Redacción</h3>
					<p>Tu objetivo es lograr la comunicación escrita de forma fluída, siendo capaz de comprender y responder correos, cartas o publicaciones de forma adecuada.</p>
					<%=link_to "Rendir Quiz", {}, {:class => "btn btn-block"}%>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="service-wrapper objective" id="obj-2">
					<h3>Fluidez Intermedia</h3>
					<p>Tu objetivo es poder comprender a tu interlocutor y poder intervenir de forma adecuada cuando sea necesario, transmitiendo tu mensaje de forma concisa y adecuada.</p>
					<%=link_to "Rendir Quiz", {}, {:class => "btn btn-block"}%>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="service-wrapper objective" id="obj-3">
					<h3>Fluidez Avanzada</h3>
					<p>Tu objetivo es poder guiar el desarrollo de reuniones y discursos, expresando fluidez en el dominio del lenguaje</p>
					<%=link_to "Rendir Quiz", {}, {:class => "btn btn-block"}%>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="service-wrapper objective" id="obj-4">
					<h3>Inglés Nativo</h3>
					<p>Tu objetivo es la comunicación fluida, tanto a nivel técnico como coloquial.</p>
					<%=link_to "Rendir Quiz", {}, {:class => "btn btn-block"}%>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<div class="row">
			<h2>Las Rutas de Longbourn</h2>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 route">
						<div class="col-xs-4 route-header introductory-route">
							Ruta Introductoria
						</div>
						<div class="col-xs-7 route-description introductory-route">
							<p>Ruta diseñada para principiantes y entusiastas del inglés, orientada a desarrollar competencias en la comprensión y el uso del lenguaje.</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 route">
						<div class="col-xs-4 route-header standard-route">
							Ruta Standard
						</div>
						<div class="col-xs-7 route-description standard-route">
							<p>Ruta orientada a pulir las destrezas de aquellos que ya tienen cierta experiencia en el idioma.</p> 
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 route">
						<div class="col-xs-4 route-header expert-route">
							Ruta Expert
						</div>
						<div class="col-xs-7 route-description expert-route">
							<p>Ruta para aquellos cuyo objetivo sea perfeccionar su comprendimiento del idioma, desarrollando la fluidez y seguridad en la expresión.</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 route">
						<div class="col-xs-4 route-header superior-route">
							Ruta Superior
						</div>
						<div class="col-xs-7 route-description superior-route">
							<p>Ruta orientada a aquellos que deseen desarrollar su comprensión técnica del lenguaje.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
