<%if @user.id%>
	<font color="white">
		<h1>Tu puntaje es <strong><%=@user.test_score%></strong></h1>
		<%=link_to "Ver Cursos Disponibles", :controller => "site", :action => "available_courses"%>
	</font>
<%else%>
	<font color="white">
		<strong>Logeate para ver los resultados</strong>
		<%=render :partial => "facebook_login_form"%>
	</font>
<%end%>