// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*BOTTOM MENU*/
.bottom-menu-bar {
	height: 40px;
	background-color: #000;
	border-top: solid 2px #ccc;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	padding: 8px 10px;
	width: 100%;
	left: 0px;
}
.bottom-menu-bar .bottom-menu-header {
	float: left;
}
.bottom-menu-bar .bottom-menu-header h4{
	color: #DBDBDB;
	margin-top: 0px;
	margin-left: 60px;
}

.bottom-menu-bar .bottom-menu-body {
	float: left;
	text-align: center;
}

.bottom-menu-bar .bottom-menu-body ul{
	list-style-type: none;
	margin: auto;
}

.bottom-menu-bar .bottom-menu-body li{
	float: left;
	padding-left: 20px;
}

.bottom-menu-bar .bottom-menu-body a{
	color: #fff;
	font-weight: bolder;
}
/*END BOTTOM MENU*/

/*LEFT HOVER MENU*/
.menu-collapse {
	width: 80px;
}


.left-hover-menu {
	width: 300px;
	border: solid 1px #FFF;
	background-color: #000;
	position: fixed;
	left: 0px;
	z-index: 999;
	padding: 20px 10px;
}

.left-hover-menu .hover-menu-header a{
	position: absolute;
	top: 10px;
	right: 10px;
}

.left-hover-menu  h4{
	color: #DBDBDB;
}

.left-hover-menu ul {
	color: #FFF;
	list-style-type: none;
}

.left-hover-menu li {
	padding: 5px;
}

.left-hover-menu a {
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
}

/*END LEFT HOVER MENU*/

.info-section h1 {
	margin-bottom: 20px;
	padding-bottom: 6px;
}

.icon-frame {
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
}

.info-frame p{
	font-size: 14px;
	text-align: left;
}

.info-frame li{
	font-size: 14px;
	padding: 3px 0px;
	font-family: Arial, Helvetica, sans-serif
}
.info-frame h3 {
	font-size: 26px;
}

.info-frame-img{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.info-frame-img img {
	margin-left: auto;
	margin-right: auto;
}

.info-frame-table {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

/*alt timeline*/
.alt-timeline-row {
	margin-top: 20px;
}

.alt-timeline-panel {
	border: solid 1px #ccc;	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.alt-timeline-title h3{
	font-size: 18px;
	border-bottom: solid 2px #ccc;	
	padding: 8px 4px;
}

.alt-timeline-body {
	font-size: 14px;
}

.alt-timeline-line{ 
	text-align: center;
}

.alt-timeline-circle{
	background-color: #CCC;
  margin: auto;
  padding: 10px;
  max-width: 50px;
  height: 50px;
  overflow: hidden;
  border: 5px solid #FFF;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}

/*end alt table*/


ul.course-features-list {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
}

ul.course-features-list li {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

ul.course-features-list li ul {
	list-style-type: circle;
}

ul.course-features-list li ul li{
	font-size: 18px;
	font-weight: normal;
	line-height: 1.4;
}


.course-features-table{
	font-size: 1.1em;
}

.course-features-table .table-row {
	border: solid 1px #6E6E6E;
	margin-bottom: 15px;

	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

.course-features-table .table-header {
	font-size: 1.2em;
	height: 80px;
	padding: auto 0;
	background-color: #E5E5E5;
	font-weight: bolder;
	margin-left: -15px;
	padding-top: 20px;
}

.course-features-table .table-data {
	padding-top: 10px;
	padding-bottom: 10px;
}

.course-features-table .table-data .data-row {
	display: block;
}

.feature-row {
	margin-top: 12px;
}

.feature-box {
	border: solid 2px #BEBEBE;  
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 5px;
	-moz-background-clip: padding;
	border-radius: 5px;
	background-clip: padding-box;
}

.feature-box .feature-box-header {
	border-bottom: solid 2px #BEBEBE;
	padding-left: 12px;
	padding-top: 1px;
	background-color: #D4D4D4;
}

.feature-box .feature-box-header h4{
	font-size: 20px;
	font-weight: bold;
}

.feature-box .feature-box-body {
	padding: 12px 5px;
}

.feature-box-body .feature-box-icon {
	padding: 12px 5px;
	text-align: center;
}

.feature-box-body .feature-box-info {

}

.feature-box-body .feature-box-info ul{
	padding-left: 0;
	list-style-type: none;
}

.feature-box-body .feature-box-info ul li{
	font-size: 18px;
}


.box {
	padding: 5px;
	border: solid 3px #6E6E6E;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

.product-box{
	padding: 0;
	margin: 0;
}

.product-box .product-box-header {
	border-bottom: solid 1px #6E6E6E;
	padding: 10px 0px;
	background-color: #E5E5E5;
}

.product-box .product-box-header h2.product-box-title{
	font-size: 22px;
	text-align: center;
	border: none;
	margin-bottom: 0;
}

.product-box .product-box-header span.product-box-subtitle{
	font-size: 14px;
	text-align: center;
	display: block;
	margin-bottom: 5px;
}

.product-box .product-box-body .body-section {
	padding: 10px 0px;
	height: 80px;
	border-bottom: solid 1px #6E6E6E;
}

.product-box .product-box-body .body-section span.bold-line {
	padding: 5px;
	font-size: 14px;
	text-align: center;
	font-weight: bolder;
	display: block;
}

.product-box .product-box-body .body-section span.line {
	padding: 5px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	display: block;
}

.product-box .product-box-footer .box-footer-row {
	border-bottom: solid 1px #E5E5E5;
	margin: 0;
	padding: 3px 0;
	vertical-align: middle;
}

.product-box .product-box-footer .box-footer-lastrow {
	margin: 0;
	padding-top: 3px;
	padding-bottom: 6px;
	vertical-align: middle;
}

/*carousel*/

#slider-frame {
	position: relative;
	height: 340;
	width: 700;
	margin-top: 0px;
}

#slider-frame img {
	position: absolute;
	left:0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#slider-frame img.opaque {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1);
 }

.routes-list h2 {
	font-size: 20px;
	margin-bottom: 5px;
}

.routes-list ol {
	margin-top: 0px;
	list-style-type: decimal;
	display: block;
}

.routes-list li {
	padding: 9px 5px;
	font-size: 14px;
}

.routes-list li:hover {
	cursor: pointer;
	border-bottom: solid 3px #CCC;
}