// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact-agent{
	background-image: asset-url("web-imgs/contact/contact_us_mid.jpg");
}

/*tablas*/

/*PRECIOS*/
.plan-header .plan-image {
	padding: 20px 6px 0px 6px;
}

/*normal case*/
.description-left img{
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
	padding: 25px;
	margin-bottom: -20px;
	margin-left: 0px;
}

/*descripcion de niveles metodo TEG*/
ul.level-description{
	list-style-type: disc;
	margin-left: 20px;
	font-size: 16px;
}

ul.level-description li{
	padding: 5px;
}

/*bordes de simulacion de programa de ingles*/
.bordered-icon-block{
	padding: 5px;
	-moz-border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}


/*franja azul*/
ul#blue-banner-tests-list {
	font-size: 18px;
	font-weight: bold;
}

/*hero link*/
.hero-link:hover {
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}


ol.default {
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 15px;
	list-style-type: decimal;
}

ol.default li {
	padding: 5px;
}


/*titulos mas grandes*/
h3.section-title span{
	font-size: 22px;
}

h3.section-title small{
	font-size: 14px;
}
/**/
.phone-wrapper {
	background-color: #000;/*#EBEBEB;*/
	padding: 2px 20px;
	margin-right: 14px;
	width: 100%;
}

table.phone-contact {
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	margin-right: 20px;
}

table.phone-contact td{
	padding: 2px;
}

table.phone-contact td.separator{
	padding: 0px 20px;
}

/*desplazar imagen*/

.navbar-header img{
	margin-top: 5px;
}


/*video de la pag principal*/
.main-video-wrapper {
	width:100%;
	max-height:690px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.main-video-wrapper video#main-bgvid{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

#main-video-titles {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 12px auto;
	min-width: 100%;
	max-height: 112px;
	overflow: hidden;
	width: auto;
	height: auto;
	z-index: 100;	
	position: absolute;
	top: 200px;
	opacity: 1;

	@media screen and (max-width: 992px){
		top: 5%;
	}
}

/*canales en el video*/

#channels-row {
	position: absolute;
	top: 312px;

	@media screen and (max-width: 992px){
		top: 8.95%;
	}
}

#channels-row .channels-title {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	text-align: center;
	padding-bottom: 15px;
}

#channels-row .channel-block {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	text-align: center;
	padding-bottom: 15px;
}

#channels-row .channel-block span.subtitle{
	color: #DEDEDE;
	text-transform: none; 
	white-space: normal;
	font-size: 1.2em;
}

 .btn a span.subtitle {
	color: #DEDEDE;
	font-style: oblique; 
	text-transform: none; 
	white-space: normal;
	font-size: 1em;
}


#channels-row .channel-block h2{
	color: #FFF;
	font-weight: bolder;
	white-space: normal;
}
/**/
.figcaption a {
	text-align: center;
	padding: auto;
	display: block;
}

footer.footer {
	font-size: 1.1em;
}

footer.footer h4 {
	font-size: 1.3em;
	font-weight: bold;
}

/*colores de ruta*/

.routebg-intro {
	background-color: #8ec449;
}

/*achievements list*/

ul.achievements-list{
	font-size: 16px;
	font-weight: normal;
}
ul.achievements-list li{
	padding-top: 13px;
	padding-bottom: 14px;
	padding-left: 10px;
	display: block;
	background-color: #FFF;
}

ul.achievements-list li.selected {
	background:#DBDBDB;
	color:#000;
	border: solid 1px #000;
	font-weight: bold;
}
/*menu de montaña*/

.achv-imgs {
  position:relative;
  height: 402px;
  width: 701px;
  margin:0 auto 10px;
}
.achv-imgs img {
  position:absolute;
  left:5px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.achv-imgs img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}


/*Adaptaciones para visualizacion en dispositivos moviles*/
p.box-main-text {
	@media screen and (max-width: 992px){
		font-size: 1.4em; 	
	}

	@media screen and(max-width: 850px){
		font-size: 1.8em;
	}
}

#box-title {
	@media screen and(max-width: 992px){
		font-size: 1.8em; 	
	}
}


.btn-adaptable {
    /*Caracteristicas basicas se heredan de .btn*/
    @extend .btn;
    @media screen and (max-width: 992px){
    	/* Configuraciones para dispositivos moviles*/
    	padding: 18px 28px;
	 	line-height: 1.33;
  		border-radius: 6px;
    	font-size: 2em;	
    }

    @media screen and (min-width: 992px){
    	/* Configuraciones para escritorios, identicas a btn-lg*/
    	padding: 10px 16px;
  		font-size: 18px;
  		line-height: 1.33;
  		border-radius: 6px;
    }
}

.title-adaptable {
	display: table-cell;
	color: #333;
	font-size: 18px;

	margin: 0px;
	padding: 0px;
	font-weight: 500;
	position: relative;

	float: left;	
}

.title-adaptable span{
	font-size: 25px;

	@media screen and (max-width: 992px){
		font-size: 2.0em;
	}
}

.title-adaptable small {
	font-size: 65%;
	display: block;
	margin-top: 4px;
	font-size: 14px;
	color: #999;

	@media screen and (max-width: 992px){
		font-size: 100%;
	}
}

.adaptable-icon {
	@media screen and (max-width: 992px){
		font-size:2em;	
	}
}

.info-title {
	@media screen and (max-width: 992px){
		font-size:1.4em;	
	}
}

.info-text {
	@media screen and (max-width: 992px){
		font-size: 140%;
	}
}

#top-subtitle {
	@media screen and (max-width: 992px){
		font-size: 1.3em;
		line-height: 110%;
	}
}

.img-principal {
	position:absolute;

	@media screen and (max-width: 992px){
		top: 90px;
	}
}

.hidden>div {
	display: block;
	@media screen and (max-width: 992px){
    	display:none;
    }
}	

.visible>div {
	display: block;
	@media screen and (max-width: 992px){
	    display:block;
	}    
}

#mob-year {
	@media screen and (max-width: 992px){
		font-size:1.2em;
	}		
}

.return-path {
	@media screen and (max-width: 992px){
		font-size:1.25em;
	}
}

#adapt-level {
	padding: 12px 0px;

	@media screen and (max-width: 992px){
		font-size:1.5em;
		padding: 12px 25px;
	}
}

#mobileIcon {
	color: #333 !important;
	font-size:1.5em;
}

.number-title {
	font-size: 1.7em;
}

label.form-label{
	font-size: 1.5em;
}

.mobile-form {
	height: 45px;
	font-size: 1.3em;
}

.form-button {
	font-size: 1.3em;
}

#contact-link {
	white-space: normal;
	padding-left: 30px;
}

.show-desktop {
	@media screen and (min-width: 992px){ 
		visibility: visible !important;
		display: block !important;
	}
}

#site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;

	/*height: 5000px; Temp: Simulates a tall page. */
}

#site-canvas {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
}

#site-menu {
	width: 300px;
	left: -300px;

	@media screen and (max-width: 850px){
		/*Ancho debe ser mayor cuando el dispositivo es de menor tamano*/
		width:500px;
		left: -500px;	
	}	
		
	height: 100%;
	position: absolute;
	top: 0;
	background: #FFFFFF;
	padding: 15px;
}

#site-wrapper.show-nav #site-canvas {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);

	@media screen and(max-width: 850px){
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
	}
}

.hidden-menu-item {
	@media screen and(max-width: 850px){
		height:50px;
		font-size: 2em;		
	}
}

.hidden-menu-item:hover {
    color: #FFF;
    background-color: #3498DB !important;
    border-radius: 0px !important;
}

.modal-dialog {
	width:90%;
	height:95%;
	padding: 0;
}

#contact-form .modal-content
{
  overflow-y: auto;
}

.mountain-label {
	@media screen and (max-width: 992px){
		font-size: 1.25em;
	}	
}

.mountain-select {
	@media screen and (max-width: 992px){
		height:50px;
		font-size: 1.5em;	
	}
	
}

.mobile-sub-info{
	margin-left: 15%;
	margin-top:10%;
	padding-top: 10%;
	height: 300px;
}

#menu-button {
	@media screen and(max-width: 850px){
		font-size: 2em;
		top: -5px;
	}
}

.mobile-paragraph {
	@media screen and(max-width: 992px){
		font-size:1.2em;
	}

	@media screen and (max-width: 850px){
		font-size:1.4em;
	}
}

#contactar {
	font-size: 2em;
	background-color: #616161;
}

#contactar:hover, #contactar:focus{
	border-color: #616161;
}
