// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-table{
	width: 700px;
	border: 10px;
	background-color: "#84CE2EB";
}

.products-table tr:nth-child(even) {
	background: #424242
}

.products-table tr:nth-child(odd) {

}

/*RESET*/
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top;
}
embed {
	vertical-align:top;
}
* {
	border:none;
}

/*LAYOUT*/

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('icon_top.png') no-repeat;
}
.col1, .col2, .col3, .cols {
	float:left;
}
.col1 {
	width:450px;
}
.col2 {
	width:650px;
}
.cols {
	width:304px;
}
.col3 {
	width:393px;
}

.col_hunter {
	width:600px;
}

.col_lista_cursos {
	width:800px;
}

.col_sugerencias {
	width:210px;
	float:right;
}
#page1 h1 {
	padding:27px 0 0 0;
}
#page1 #search {
	padding:46px 0 10px 0;
}
#page1 #menu {
	margin-top:32px;
	margin-bottom:35px;
}
#page1 .img {
	right:-13px;
	top:236px;
}
#page1 .text {
	text-align:center;
	padding:0;
	width:100%;
}
#page1 header {
	height:612px;
}
#page3 .cols {
	width:215px;
}

/*STYLE*/

ul.menu
{
   list-style:none;
}
ul.menu ul /* Para todos los ul debajo del ul.menu */
{
   display:none;
   list-style:none;
}

ul.menu
{
   list-style:none;
}


ul.menu li
{
   position:relative; /* Las coordenadas de los ul inferiores serán relativas al <li> que los contiene */
   width:145px;
}

ul.menu li:hover > ul
{
   display:block;
}


#menu {
	width:100%;
	overflow:hidden;
	margin-top:12px;
	margin-bottom:0px;
	height:167px;
	overflow:hidden;
	padding-bottom:1px;
	border-bottom:5px solid #39ba1f;
}
#menu li {
	float:left;
}
#menu li a {
	display:block;
	font-size:16px;
	color:#fff;
	font-weight:600;
	padding:0 35px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	behavior:url(../js/PIE.htc);
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
	line-height:27px;
}
#menu li a:hover, #menu #menu_active a {
	background:#323232;
}
#menu .end a {
	padding-right:36px;
}






input.small {
             width:80px;  /* Apply to input tags with class "small" */
             height:25px;
         }

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
.left {
	float:left;
}
.center {
	float:center;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
body {
	background: image-url("bg.jpg") top center repeat;
	border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#323232; 
	line-height:17px;
}
.inner_copy, .inner_copy a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0;
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	behavior:url(../js/PIE.htc);
	position:relative;
}
.body1 {
	background: image-url("bg_footer.jpg") top center repeat;
	height:300px;
}
.main {
	margin:0 auto;
	width:960px;
	position:relative;
}
.block {
	height:100px;
}
.extra {
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -100px;
}
body, html {
	height:100%;
}
a {
	color:#f09e2f;
	text-decoration:underline;
	outline:none;
}
a:hover {
	text-decoration:none;
}
h1 {
	float:left;
	padding:17px 0 0 0;
}
h2 {
	font-size:40px;
	text-transform:uppercase;
	font-weight:600;
	color:#3081c8;
	line-height:52px;
	padding:2px 0 33px 0;
}
h3 {
	font-size:26px;
	color:#fff;
	color:#fff;
	padding-left:35px;
	line-height:57px;
	margin-bottom:30px;
	background:#3081c8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	text-transform:uppercase;
	font-weight:600;
}
p {
	padding-bottom:17px;
}
header {
	overflow:hidden;
	width:100%;
	height:494px;
}
#logo {
	background: image-url("super_banner.png") no-repeat;
	display:block;
	width:658px;
	height:113px;
	text-indent:-5000px;
}
#search {
	float:right;
	padding:36px 0 10px 0;
}
#search .bg {
	background: image-url("search.gif") no-repeat;
	width:247px;
	height:29px;
}
#search .submit {
	background:none;
	width:29px;
	height:29px;
	float:right;
	cursor:pointer;
}
#search .input {
	float:right;
	background:none;
	font:13px Arial, Helvetica, sans-serif;
	color:#303030;
	width:208px;
	height:17px;
	padding:6px 5px;
}
#top_nav {
	float:right;
	padding:0;
}
#top_nav li {
	float:left;
	padding-left:5px;
}
#top_navi a {
	display:block;
	background: image-url("diagnostico.png") no-repeat;
	width:200px;
	font-size:13px;
	line-height:29px;
	color:#323232;
	text-align:center;
	text-decoration:none;
}
#top_nav a {
	display:block;
	background: image-url("top_nav_bg.gif") no-repeat;
	width:79px;
	font-size:13px;
	line-height:29px;
	color:#323232;
	text-align:center;
	text-decoration:none;
}
#top_nav a:hover {
	color:#fff;
	background:#323232;
}






.nav1 {
	background:#3081c8;
}
.nav2 {
	background:#8cbd20;
}
.nav3 {
	background:#f09e2f;
}
.nav4 {
	background:#b530ba;
}
.nav4-2 {
	background:#FE2E2E;
}
.nav5 {
	background:#30b6c9;
}

.nav_opciones {
	background:#3646c9;
}

.tabs {
	width:100%;
	overflow:hidden;
}
.tabs li {
	float:left;
	padding-right:1px;
}
.tabs .end {
	padding:0;
}
.tabs a {
	display:block;
	width:200px;
	font-size:13px;
	line-height:31px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	behavior:url(../js/PIE.htc);
	position:relative;
	background: image-url("tabs_bg.gif") bottom repeat-x #3081c8;
	text-decoration:none;
}
.tabs a:hover, .tabs .active {
	background: image-url("bg_form.gif") repeat;
}
.tabs_cont {
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	background: image-url("bg_form.gif") repeat;
	padding:30px 35px 28px;
}
.img {
	position:absolute;
	right:0px;
	top:203px;
}
.text {
	padding:7px 0 0 36px;
	width:575px;
}
.text h2 {
	font-size:32px;
	color:#323232;
	line-height:40px;
	padding:4px 0 15px 0;
	letter-spacing:-1px;
}
.text p {
	font-size:12px;
	font-weight:bold;
	color:#323232;
	line-height:20px;
	text-align:left;
	padding-bottom:25px;
}
.text img {
	margin-top:43px;
}
#content {
	padding-top:35px;
	width:100%;
	overflow:hidden;
	padding-bottom:60px;
}
.pad_bot1 {
	padding-bottom:17px;
}
.pad_bot2 {
	padding-bottom:7px;
}
.pad_left1 {
	padding-left:42px;
}
.pad {
	padding:0 13px;
}
.marg_bot1 {
	margin-bottom:17px;
}
.marg_right1 {
	margin-right:18px;
}
.marker_1, .marker_2 {
	display:inline-block;
	background: image-url("marker_1.gif") 0 0 no-repeat;
	width:17px;
	height:17px;
}
.marker_2, .marker_1:hover {
	background: image-url("marker_2.gif") 0 0 no-repeat;
}
.marker_2:hover {
	background: image-url("marker_1.gif") 0 0 no-repeat;
}
.under {
	padding-bottom:20px;
	border-bottom:1px solid #cccccc;
	margin-bottom:20px;
}
.button {
	display:inline-block;
	font-size:16px;
	color:#fff;
	background:#f09e2f;
	line-height:35px;
	padding:0 16px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase;
}
.button:hover {
	background:#8cbd20;
}
.line1 {
	background: image-url("line_ver.gif") 320px 0 repeat-y;
}
.list1 li {
	line-height:22px;
}
.list1 li a {
	padding-left:13px;
	background: image-url("marker_3.gif") 0 5px no-repeat;
}
#ContactForm {
	margin-top:-10px;
	line-height:29px;
	font-weight:bold;
	width:638px;
}
#ContactForm a {
	margin-left:10px;
	float:right;
	width:86px;
	text-align:center;
	padding:0;
}
#ContactForm .input {
	float:right;
	margin-right:222px;
	width:335px;
	height:17px;
	border:1px solid #dcdcdc;
	background:#fff;
	padding:5px;
	margin-bottom:6px;
	color:#323232;
	font:13px Arial, Helvetica, sans-serif;
}
#ContactForm textarea {
	overflow:auto;
	float:right;
	width:557px;
	height:307px;
	border:1px solid #dcdcdc;
	background:#fff;
	padding:5px;
	margin-bottom:16px;
	color:#323232;
	font:13px Arial, Helvetica, sans-serif;
}
#form_1 {
	color:#fff;
	line-height:24px;
}
#form_1 .input {
	float:right;
	background:#fff;
	width:133px;
	padding:1px 8px;
	font:12px Arial, Helvetica, sans-serif;
	color:#7f7f7f;
	height:16px;
	margin-top:3px;
}
#form_1 a {
	color:#439deb;
}
#form_1 .radio {
	float:left;
	padding-right:16px;
}
#form_1 .radio.end {
	padding-right:0;
}
#form_1 .radio input {
	float:left;
	margin:5px 5px 0 0;
	height:12px;
	width:12px;
	overflow:hidden;
	padding:0;
}
#form_1 .check_box {
	margin-top:12px;
}
#form_1 .input2 {
	width:62px;
}
#form_1 select {
	width:58px;
	height:18px;
	padding:1px;
	margin-left:5px;
	margin-top:5px;
	display:inline-block;
}
#form_1 .button {
	float:right;
	font-size:12px;
	color:#fff;
	width:66px;
	line-height:26px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background:#3081c8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior:url(../js/PIE.htc);
	position:relative;
	padding:0;
}
footer {
	padding-top:31px;
	text-align:center;
	line-height:18px;
	color:#fff;
}
footer a {
	color:#fff;
	text-decoration:none;
}
footer .lf {
	float:left;
	margin:0;
	padding:0;
}
footer .rf {
	float:right;
	margin:0;
	padding:0;
}