<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @greeting+" "+@user.firstname+" "+@user.lastname %>,</h1>
    <p>
      Tu puntaje en nuestra prueba de diagnóstico fue de <strong><%=@user.test_score%> puntos</strong>, lo cual clasifica tu nivel de inglés como <strong><%=@course_level%></strong><br>
    </p>
    <p>
      Para continuar con la cotizacion de cursos en Longbourn Institute, te invitamos a hacer click en el siguiente <strong><%=link_to "Link", @url%></strong>
    </p>
    <br>
    <h2>Te esperamos!</h2>
    
    -------------------------------------------------------
    <p>Este correo fue generado automáticamente, por lo cual se sugiere no responderlo.</p>
  </body>
</html>