.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('icon_top.png') no-repeat;
}
.col1, .col2, .col3, .cols {
	float:left;
}
.col1 {
	width:450px;
}
.col2 {
	width:650px;
}
.cols {
	width:304px;
}
.col3 {
	width:393px;
}

.col_hunter {
	width:600px;
}

.col_lista_cursos {
	width:800px;
}

.col_sugerencias {
	width:210px;
	float:right;
}
#page1 h1 {
	padding:27px 0 0 0;
}
#page1 #search {
	padding:46px 0 10px 0;
}
#page1 #menu {
	margin-top:32px;
	margin-bottom:35px;
}
#page1 .img {
	right:-13px;
	top:236px;
}
#page1 .text {
	text-align:center;
	padding:0;
	width:100%;
}
#page1 header {
	height:612px;
}
#page3 .cols {
	width:215px;
}
