
<div class="wp-block default user-form"> 
    <div class="form-header">
        <h2>Promociones Longbourn</h2>
    </div>
    <div class="form-body social-login">
        <p>Registrate en Longbourn para acceder a nuestros descuentos y promociones.</p>
        <p>También podrás referir a tus amigos y conocidos para acceder a más beneficios en tu siguiente curso de Inglés en Longbourn.</p>
        <a href="/auth/facebook" class="btn-facebook-login">
            <i class="fa fa-facebook fa-lg"></i> Registrarse con Facebook
        </a>
    </div>
    <div class="form-footer">
    </div>
</div>