<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="text-normal" style="font-weight: bolder; font-size:30px;">Prueba de Diagnóstico <strong style="font-size: 32px; font-weight: bolder;">sin costo</strong>. Inscripciones todas las semanas.</h2>
                </div>
                <div class="col-md-3">
                    <%=link_to "<span id='info-text'>Consulta acá</span>".html_safe, valores_precios_o_tarifas_path, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>