<div class="section">
	<div class="container-fluid description-paragraph">
		<h1><%=@page_title%></h1>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>Nuestro Curso de Inglés de Abogados entrega las herramientas para comunicarse forma precisa y también para entender con exactitud los mensajes leídos y escuchados.</p> 
				
				<p>Los contenidos se amoldan a la actividad laboral de cada abogado a quien se le enseña un amplio glosario de terminología jurídica. De este modo el profesional podrá utilizar estos conocimientos en su trabajo. Es el abogado quien tiene un excelente manejo de los temas concernientes a su campo y nosotros le entregamos las herramientas idiomáticas de acuerdo a sus necesidades, para que logre transferir sus mensajes en forma exitosa a sus interlocutores</p>

				<p>Solicita hora para tu Prueba de Diagnóstico (Sin Costo)</p>
				<ul>
					<li>Llamando al +56 2 2951 92 05</li>
					<li>A través de nuestro Formulario de Contacto</li>
				</ul>
				<%=image_tag "descriptions/Slide1.png", :class => "center-block"%>

				<h3>Modalidades</h3>

				<p>El Curso de Inglés para Abogados se dicta en dos Modalidades:</p>
				<p><strong>1. Longbourn Executive</strong></p>
				<p>Para Profesionales con poco tiempo libre. Sin moverte de tu escritorio, recibes la mejor capacitación según tu nivel de conocimiento, con clases personalizadas y mayor flexibilidad.</p>
				<p><b>2. Longbourn Institute</b></p>
				<p>Cursos Grupales en nuestra Sede, ubicada a pasos de Escuela Militar. Grupos pequeños de personas que poseen el mismo nivel de inglés, que buscan perfeccionar el idioma y a la vez interactuar con diferentes profesionales.</p>

				<h3>Horarios</h3>
				<ul>
					<li>Cursos Longbourn Executive In Office: Horarios se coordinan junto al cliente.</li>
					<li>Cursos Longbourn Institute Sede Las Condes: Horarios disponibles desde las 18:30 hrs.</li>
				</ul>

				<h3>Duración</h3>
				<p>La Duración del Curso dependerá del Nivel de Inglés del Participante y de los Objetivos que se proponga. La mayoría de las personas deciden estudiar entre 6 y 9 meses.</p>

				<%=image_tag "descriptions/Montana.png", :class => "center-block"%>
				<ul>
					<li>Cada uno de nuestros libros lleva el nombre de una montaña. Cada libro se estudia en 48 hrs. (Aprox. 3 meses – 2 clases de 90 mins semanales)</li>
					<li>Nuestra Prueba de Diagnóstico determinará tu nivel de inglés.</li>
					<li>Dependiendo de tu Nivel, te asignaremos una Ruta.
						<ul>
							<li>Expert Route.</li>
							<li>Standard Route.</li>
							<li>Introductory Route.</li>
						</ul>
					</li>
					<li>La meta la pones tú
						<ul>	
							<li><strong>Aconcagua: </strong>Nivel Avanzado. El máximo nivel que se puede estudiar en otros Institutos.</li>
							<li><strong>Everest: </strong>Nivel Nativo: Nivel que se puede alcanzar estudiando la Carrera de Inglés en una Universidad.</li>
						</ul>
					</li>
				</ul>

				<h3>Metodología</h3>

				<ul>
					<li>Se utilizará el TEG Method, diseñado por Elba Calderón, fundadora de Longbourn, con mas de 20 años de trayectoria en el rubro de la enseñanza de inglés.</li>
					<li>Los contenidos están organizados en forma gradual e interrelacionada; fortaleciendo en cada clase, de forma simultánea, las cuatro habilidades del idioma: leer, escribir, hablar y escuchar.</li>
					<li>Es una metodología ágil y participativa, en la que se incluyen muchos temas de interés de diferentes áreas del conocimiento, además de aquellas específicas para Abogados.</li>
					<li>Para apoyar el estudio personal, se asignan tareas que no toman más de una hora a la semana, las que se responden directamente en nuestra plataforma Web</li>
					<li>A una persona que participa concientemente durante las clases y realiza sus tareas, le recomendamos que dedique adicionalmente media hora diaria de estudio personal.</li>
				</ul>

				<h3>Requisitos de Ingreso</h3>

				<ol>
					<li>Todo nuevo alumno debe rendir nuestra Prueba de Diagnostico. A través de la Prueba de Diagnóstico identificaremos el nivel de inglés oral y escrito del interesado. Una vez obtenidos los resultados, se indicarán los horarios disponibles según su nivel de manejo del idioma.</li>
					<li>Los participantes deben ser Abogados Profesionales Titulados o Estudiantes de Derecho, ya que se entregará conocimiento de términos jurídicos en la lengua inglesa.</li>
				</ol>

				<h3>Valores</h3>

				<ul>
					<li>Curso de Inglés Longbourn Executive Individual In Office (Santiago)
						<ul>
							<li>96 hrs – Aprox. 6 meses.</li>
							<li>Valor por 2 libros.</li>
							<li>84 UF por persona</li>
						</ul>
					</li>
					<li>Curso de Inglés Longbourn Executive Grupal In Office (Santiago)
						<ul>
							<li>96 hrs – Aprox. 6 meses</li>
							<li>Inscripción mínima de 3 personas con el  mismo nivel de inglés.</li>
							<li>Valor por 2 libros.</li>
							<li>42 UF por persona.</li>
						</ul>
					</li>
					<li>Curso de Inglés Longbourn Institute Grupal Abierto – Sede Longbourn Las Condes
						<ul>
							<li>48 hrs – Aprox. 3 meses.</li>
							<li>Clases de dictan en Sede Longbourn Las Condes – Coronel Pereira 72 Piso 11, Las Condes.</li>
							<li>Valor por 1 libro.</li>
							<li>21 UF por persona.</li>
						</ul>
					</li>
				</ul>
				<p>Solicita hora para tu Prueba de Diagnóstico (Sin Costo)</p>
				<ul>
					<li>Llamando al +56 2 2951 92 05</li>
					<li>A través de nuestro Formulario de Contacto</li>
				</ul>
			</div>
		</div>
	</div>
</div>