<div class="static-page-image">
    <%=image_tag "web-imgs/landing_sede/landing_sede.jpg", :alt => ""%>
    <div class="description-left">
        <span class="subtitle text-wrapped alpha c-black">Cursos en la Sede Longbourn Las Condes</span>
    </div>
    <div class="description-buttons" style="position: absolute; top: 80%; width: 100%;">
        <div class="row">
            <div class="col-md-6">
                <%=link_to "Longbourn Institute - Mejores Horarios", longbourn_institute_path, {:class => "btn btn-block btn-dark btn-lg"}%>
            </div>
            <div class="col-md-6">
                <%=link_to "Longbourn StartUp - Mejores Precios", longbourn_startup_path, {:class => "btn btn-block btn-dark btn-lg"}%>
            </div>
        </div>
    </div>
</div>
