<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><%=@page_title%></h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="active">Cursos TOEFL</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="static-page-image">
    <%=image_tag "backgrounds/full-bg-1.jpg", :alt => ""%>
    <div class="description-left">
        <span class="subtitle text-wrapped alpha c-black">Curso de Preparación TOEFL de Longbourn </span>
    </div>
</div>


<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 320px;">
                        <div class="thmb-img">
                            <i class="fa fa-search"></i>
                        </div>
                        
                        <h2>Explorando TOEFL y determinado cursos de acción</h2>
                        <p class="text-center">
                            Se estudiará y explorará cada parte de la prueba. El estudiante podrá analizar los ejercicios relacionados a cada habilidad a evaluar, concientizando los errores que se suelen cometer y seguir estrategias para mejorar.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 320px;">
                        <div class="thmb-img">
                            <i class="fa fa-level-up"></i>
                        </div>
                        
                        <h2>Realización de tareas y monitoreo de avance</h2>
                        <p class="text-center">
                            Se monitorea el progreso del curso mediante tareas evaluadas. Los objetivos son identificar las habilidades que es necesario mejorar y ayudar al estudiante a mantener ritmos de trabajo constante, entregando una ventaja significativa al enfrentar el examen. 
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 320px;">
                        <div class="thmb-img">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        
                        <h2>Ensayos</h2>
                        <p class="text-center">
                            Durante el curso se realizarán 2 ensayos de la prueba TOEFL. Con esto se busca generar práctica suficiente y obtener datos fidedignos del avance del estudiante.
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="wp-block hero white no-margin" style="height: 320px;">
                        <div class="thmb-img">
                            <i class="fa fa-book"></i>
                        </div>
                        
                        <h2>Material de Apoyo</h2>
                        <p class="text-center">
                            El estudiante encontrará todo el apoyo gramatical para aclarar dudas con un libro resumen de gramática del inglés, incluido en el programa de estudio, que puede ser consultado cada vez que se necesite.
                        </p>
                    </div>
                </div>
                    
            </div>

        </div>
    </div>
</section>


<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Características Generales</span>
                    <small>Cursos Longbourn Institute</small>
                </h3>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Horarios</h4>
                            <p>In Office: A definir con el Cliente</p>
                            <p>Sede: Consultar por Horarios Disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Frecuencia de Clases</h4>
                            <p>2 clases de 90 minutos por semana</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Ubicación</h4>
                            <p>Oficinas del Cliente o Sede Longbourn Las Condes.</p>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Criterios de Aprobación</h4>
                            <p>Obtener promedio de notas sobre 4.0</p>
                            <p>75% de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Grupos</h4>
                            <p>De 1 hasta 8 participantes, mismo nivel</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-exclamation-circle"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Reprogramaciones de Clases</h4>
                            <p>3 Reprogramaciones de Clases por cada 36 hrs. contratadas (aplica sólo para Cursos In Office)</p>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</section>



<section class="slice white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<h4 style="text-transform: none;">¿Qué es el TOEFL?</h4>
                    <p>
                    	Test Of English as a Foreign Language (Examen de inglés como segunda lengua) es una prueba internacional estandarizada por ETS (Educational Testing Service), que mide el dominio del lenguaje inglés académico. 
                    	<br>
						El test está diseñado una manera práctica a través de distintas secciones con el objetivo de recrear contextos semejantes a la vida real en un ambiente universitario angloparlante. Las secciones miden la capacidad para generar comunicación en las cuatro habilidades del lenguaje: expresión oral, expresión escrita, comprensión auditiva y de lectura, para desarrollar tareas académicas.
						<br>
						La certificación TOEFL es útil para:
                    </p>
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Estudiantes que desean estudiar en una universidad extranjera.</li>
                        <li><i class="fa fa-check"></i> Admisiones y egreso del programa de aprendizaje del idioma inglés.</li>
                        <li><i class="fa fa-check"></i> Candidatos para becas y certificaciones.</li>
                        <li><i class="fa fa-check"></i> Alumnos de inglés que desean controlar su progreso.</li>
                        <li><i class="fa fa-check"></i> Estudiantes y trabajadores que solicitan visas a países de habla inglesa.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bt bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr">
                        <h3 class="section-title left" style="text-transform: none;"><span>¿Quién acepta las calificaciones del TOEFL?</span></h3>
                    </div>
                    <p>
                    	Hay más de 9000 universidades, organizaciones y otras instituciones en 130 países que aceptan esta calificación. Sin embargo, cada interesado deberá conocer los requisitos para cada caso en que se pretenda utilizar esta calificación. <br>

						Algunas otras instituciones y organizaciones utilizan la calificación TOEFL para otros propósitos, como por ejemplo:
                    </p>
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Los departamentos de inmigración, así emiten visas de residencia y trabajo.</li>
                        <li><i class="fa fa-check"></i> Los organismos médicos y de expedición de licencias, para certificación profesional.</li>
                    </ul>
                    <p>
						El postulante que se preparara para esta prueba no solo estará haciendo más claras sus posibilidades de obtener un puntaje alto, sino que también mejorará su nivel de uso de inglés, de manera que aumentarán también las posibilidades de ser elegible para el propósito que se busca. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-normal">Ensayos TOEFL <strong style="font-size: 30px; font-weight: bolder;">sin costo</strong> todas las semanas</h2>
                </div>
                <div class="col-md-4">
                    <%=link_to "<span>Consulta Aca!</span>".html_safe, {:controller => :site, :action => :contact_us}, {:class => "btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right"}%>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice bg-white" id="plan-prices">
    <div class="wp-section pricing-plans">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>Valores</span>
                    <small>Longbourn Institute</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Private Executive</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>23.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-user"></i> Curso Individual Cerrado</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del CLiente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Más Información</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Executive Group</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>13.800</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 4 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Oficinas del Cliente</li>
                            <li><i class="fa fa-clock-o"></i> Horario a Definir con el Cliente</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Más Información</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Longbourn Institute</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>9.000</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Longbourn Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 17:00 a 20:30 hrs.</li>
                        </ul>          
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Más Información</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wp-block default">
                        <div class="plan-header light">
                            <h2 class="plan-title" style="font-size: 24px;">Longbourn Startup</h2>
                            <h3 class="price-tag" style="font-size: 38px;"><span>$</span>7.500</h3>
                            <small class="plan-info" style="margin-bottom: 0px; padding-bottom: 0px;">Valor Hora Cronológica por Persona</small>
                            <small class="plan-info">Programas desde 36 horas</small>
                        </div>
                        <ul>
                            <li><i class="fa fa-group"></i> Máx. 8 Participantes Mismo Nivel</li>
                            <li><i class="fa fa-map-marker"></i> Sede Las Condes</li>
                            <li><i class="fa fa-clock-o"></i> Cursos de 8:00 a 17:30 hrs.</li>
                        </ul>         
                        <p class="plan-select-block">
                            <a href="#" class="btn btn-lg btn-block-bm btn-light btn-icon btn-check" hidefocus="true">
                                <span>Ver Cursos Disponibles</span>
                            </a>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>