<div class="section">
    <div class="container-fluid">
    	<h2><%=@page_title%></h2>
		<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "site-pics/office-meeting.jpg", :size => "400x150"%>
				</div>
			</div>
			<div class="col-sm-8 info-frame">
				<h3>Cursos de Inglés en tu Oficina</h3>

				<p>
					Cursos de inglés especialmente diseñados para ejecutivos con poco tiempo disponible, que necesitan una capacitación personalizada, efectiva y flexible en su propia oficina.
				</p>
			</div>
		</div>
		<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "site-pics/class_whiteboard.jpg", :size => "400x150"%>
				</div>
			</div>
			<div class="col-sm-8 info-frame">
				<h3>Contenidos Orientados a Ejecutivos</h3>
				<p>
					Los Cursos de Inglés Executive te entregarán, sin moverte de tu escritorio, las herramientas y contenidos para comunicarte en forma precisa y para entender con claridad los mensajes leídos y escuchados en inglés.
				</p>
			</div>
		</div>
		<div class="row service-wrapper-row">
			<div class="col-sm-4">
				<div class="service-image">
					<%=image_tag "profile_pictures/books.jpg", :size => "400x150"%>
				</div>
			</div>
			<div class="col-sm-8 info-frame">
				<h3>Metodología TEG</h3>
				<p>
					Las clases utilizan la <b>Metodología TEG</b> (Teaching English Gradually) que de una forma <b>diferente, dinámica y entretenida</b>, desarrolla de manera simultánea las 4 habilidades del idioma: leer, escribir, escuchar y hablar.
				</p>
			</div>
		</div>

		<h2>Cursos Longbourn</h2>
		<div class="row">
			<div class="col-xs-12 info-frame">
				<p>
					Nuestro modelo de aprendizaje de inglés es similar al escalamiento gradual de una montaña. Como se muestra en el siguiente esquema, se puede llegar a la cima por diferentes rutas:
				</p>
				[ESQUEMA]
				<p>
					Nuestros libros tienen nombres de montañas debido a que cada uno representa distinto grado de dificultad y permite alcanzar distintos objetivos, tal como se indican en el esquema.
				</p>
				<p>
					En cada clase se trabaja con:
				</p>
				<ul>
					<li>Videos</li>
					<li>Libros propios</li>
					<li>Canciones</li>
					<li>Lecturas</li>
					<li>Acceso Web de Estudiantes Longbourn.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h3>Características Generales de los Cursos Longbourn Executive</h3>
				
			</div>
		</div>
    </div>
</div>
