<div class="section">
	<div class="container-fluid">
		<h1><%=@page_title%></h1>
		<div class="row">
			<div class="col-md-12">
			mientras tanto
			<div class="section">
				<div class="container-fluid">
					<h2 style="text-align: center;">The Longbourn Experience</h2>
					<div class="col-sm-12">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Define tus Metas</h4>
									  <p><small class="text-muted"><i class="fa fa-trophy"></i> ¿Qué quieres lograr con Longbourn?</small></p>
									</div>
									<div class="timeline-body">
									  <p>Selecciona un objetivo a lograr con <strong>Longbourn Institute</strong>.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Descubre tu Nivel</h4>
									  <p><small class="text-muted"><i class="fa fa-gamepad"></i> Quiz de diagnostico Longbourn</small></p>
									</div>
									<div class="timeline-body">
									  <p>Diviertete con nuestro entretenido <strong>Quiz de Diagnóstico</strong> y descubre tu ruta a seguir en Longbourn Institute</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Cotiza tu Curso</h4>
									  <p><small class="text-muted"><i class="fa fa-university"></i> Cursos de Longbourn</small></p>
									</div>
									<div class="timeline-body">
									  <p>Selecciona uno de los cursos de <strong>Longbourn Institute</strong> en la modalidad y fecha que más te acomode.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge"><i class="fa fa-chevron-circle-right"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Vive la Experiencia Longbourn!</h4>
									  <p><small class="text-muted"><i class="fa fa-gamepad"></i> Cursos a la Medida</small></p>
									</div>
									<div class="timeline-body">
									  <p>Vive la <strong>Experiencia Longbourn</strong> en nuestras salas y con nuestros profesores.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>