<!-- MAIN CONTENT -->
<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1><%=@page_title%></h1>
            </div>
            <div class="col-md-5">
                <ol class="breadcrumb">
                    <li><%=link_to "Home", root_path%></li>
                    <li class="active">Promociones Longbourn</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <%if @user.blank?%>
                    <div class="col-md-4 col-sm-6">
                        <div class="wp-block default user-form"> 
                            <div class="form-header">
                                <h2>Promociones Longbourn</h2>
                            </div>
                            <div class="form-body social-login">
                                <p>Ingresa mediante Facebook para acceder a nuestros descuentos y promociones.</p>
                                <a href="/auth/facebook" class="btn-facebook-login">
                                    <i class="fa fa-facebook fa-lg"></i> Registrarse con Facebook
                                </a>
                            </div>
                            <div class="form-footer">
                                <p><%=@random%></p>
                            </div>
                        </div>
                    </div>
                <%else%>
                    <div class="col-md-4">
                        <div class="wp-block default">
                            <p>Bienvenido <%=@user.name%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</section>