<div class="left-hover-menu">
	<div class="hover-menu-header">
		<h4>Menú de Navegación</h4>
		<a href="#"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
	</div>
	<div class="hover-menu-body">
		<ul>
			<li><a href="#first-section">Longbourn Executive</a></li>
			<li><a href="#second-section">Cursos Longbourn</a></li>
			<li><a href="#third-section">Caracteristicas Generales</a></li>
			<li><a href="#fourth-section">Inscripción</a></li>
			<li><a href="#fifth-section">Valores</a></li>
		</ul>
	</div>
</div>


<div class="section">
    <div class="container-fluid info-section">
		<h1>Cursos Longbourn</h1>
		<div class="row">
			<div class="col-xs-12 info-frame">
				<p>
					Nuestro modelo de aprendizaje de inglés es similar al escalamiento gradual de una montaña. Como se muestra en el siguiente esquema, se puede llegar a la cima por diferentes rutas:
				</p>
				<div class="row alt-timeline-row">
					<div class="col-xs-5 alt-timeline-panel">
						<div class="alt-timeline-title">
							<h3>Objetivos Longbourn</h3>
						</div>
						<div class="alt-timeline-body">
							<ol id="slide_controls">
								<li class="selected">Nociones de Ingles</li>
								<li>Comunicación Escrita</li>
								<li>Participación Activa en Reuniones</li>
								<li>Presentaciones y Llamadas telefonicas</li>
								<li>Dirigir Reuniones</li>
								<li>Redacción de Contratos / Papers Académicos</li>
								<li>Presentaciones en Congresos Internacionales</li>
								<li>Negociación Avanzada</li>
							</ol>
						</div>
					</div>
					<div class="col-xs-1 alt-timeline-line">
						<div class="alt-timeline-circle">
							<i class="fa fa-chevron-down"></i>
						</div>
					</div>
					<div class="col-xs-6 alt-timeline-panel clearfix">
						<div class="alt-timeline-body" style="padding: 10px 5px;">
							<div class="shadow">
							<%=image_tag "site-pics/Diagrama_2.png", :size => "500x240", :alt => "imagen 1", :class => "opaque"%>
							</div>
						</div>
					</div>
				</div>
				<div class="row alt-timeline-row">
					<div class="col-xs-5 alt-timeline-panel">
						<div class="alt-timeline-title">
							<h3>Inscripción</h3>
						</div>
						<div class="alt-timeline-body">
							<p>El <b>Punto Objetivo</b> lo decides tú.</p>
							<ul>
								<li>La cantidad de libros a contratar queda determinada por lo que cada Ejecutivo o Grupo necesite o quiera aprender.</li>
							</ul>

							<p>
								<b>Inscríbete</b> en nuestra <b>Prueba de Diagnóstico</b>. Con tus resultados y teniendo en cuenta el objetivo deseado, generaremos la cotización final de tu <b>Programa Longbourn Executive</b>.
							</p>
							<p>
								La <b>Prueba de Diagnóstico</b> no tiene costo.
							</p>
						</div>
					</div>
					<div class="col-xs-1 alt-timeline-line">
						<div class="alt-timeline-circle">
							<i class="fa fa-chevron-down"></i>
						</div>
					</div>
					<div class="col-xs-6 alt-timeline-panel">
						<div class="alt-timeline-title">
							<h3>Tabla de Puntajes</h3>
						</div>
						<div class="alt-timeline-body" style="padding: 10px 5px;">
							<table class="table table-bordered info-frame-table">
								<thead>
									<tr>
										<th>Puntaje Prueba de Diagnóstico</th>
										<th>Ruta</th>
										<th>Libro Inicial</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>+71% Prueba Diagnóstico</td>
										<td>Expert Route</td>
										<td>Cotopaxi</td>
									</tr>
									<tr>
										<td>40% a 70% Prueba Diagnóstico</td>
										<td>Standard Route</td>
										<td>Mauna Kea</td>
									</tr>
									<tr>
										<td>0% a 39% Prueba Diagnóstico</td>
										<td>Introductory Route</td>
										<td>Tronador</td>
									</tr>
								
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function() {
  $("#slide_controls").on('mouseenter', 'li', function() {
    $("#slider-frame img").removeClass("opaque");

    var newImage = $(this).index();

    $("#slider-frame img").eq(newImage).addClass("opaque");

    $("#slider_controls li").removeClass("selected");
    $(this).addClass("selected");
  });
});
</script>



<div class="section">
	<div class="container-fluid">
		<h1><%=@page_title%></h1>
		<div class="row">
			<div class="col-md-12">
			mientras tanto
			<div class="section">
				<div class="container-fluid">
					<h2 style="text-align: center;">The Longbourn Experience</h2>
					<div class="col-sm-12">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Define tus Metas</h4>
									  <p><small class="text-muted"><i class="fa fa-trophy"></i> ¿Qué quieres lograr con Longbourn?</small></p>
									</div>
									<div class="timeline-body">
									  <p>Selecciona un objetivo a lograr con <strong>Longbourn Institute</strong>.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Descubre tu Nivel</h4>
									  <p><small class="text-muted"><i class="fa fa-gamepad"></i> Quiz de diagnostico Longbourn</small></p>
									</div>
									<div class="timeline-body">
									  <p>Diviertete con nuestro entretenido <strong>Quiz de Diagnóstico</strong> y descubre tu ruta a seguir en Longbourn Institute</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge"><i class="fa fa-chevron-circle-down"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Cotiza tu Curso</h4>
									  <p><small class="text-muted"><i class="fa fa-university"></i> Cursos de Longbourn</small></p>
									</div>
									<div class="timeline-body">
									  <p>Selecciona uno de los cursos de <strong>Longbourn Institute</strong> en la modalidad y fecha que más te acomode.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge"><i class="fa fa-chevron-circle-right"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									  <h4 class="timeline-title">Vive la Experiencia Longbourn!</h4>
									  <p><small class="text-muted"><i class="fa fa-gamepad"></i> Cursos a la Medida</small></p>
									</div>
									<div class="timeline-body">
									  <p>Vive la <strong>Experiencia Longbourn</strong> en nuestras salas y con nuestros profesores.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- Testimonials -->
<div class="section">
	<div class="container-fluid">
		<h2 style="text-align:center;">Why Longbourn</h2>
		<div class="row">
			<!-- Testimonial -->
			<div class="testimonial-nb col-md-6">
				<!-- Author Photo -->
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-star fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Cursos de Inglés de Calidad</h4>
						<!-- Quote -->
						<p class="quote">
                            Longbourn ofrece la mejor calidad en la enseñanza del idioma. Contamos con el uso exclusivo del TEG Method y sólo contratamos profesores titulados de las mejores Universidades, a quienes capacitamos constantemente.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <!-- End Testimonial -->
            <div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-suitcase fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Facilitamos tu Experiencia</h4>
						<p class="quote">
                            Longbourn sabe que tu tiempo y recursos son valiosos. Las prioridades de cada tipo de Profesional son diferentes, por lo que diseñamos múltiples soluciones para facilitar tu experiencia estudiando Inglés.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-map-marker fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>En tu Oficina o en Longbourn Las Condes</h4>
						<p class="quote">
                            Ofrecemos una alta gama horarios en Longbourn Las Condes; con el Metro Escuela Militar a 3 cuadras y estacionamiento muy cercano.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
			<div class="testimonial-nb col-md-6">
				<div class="author-photo">
					<p class="circle-highlight"><i class="fa fa-thumbs-o-up fa-lg"></i></p>
				</div>
				<div class="testimonial-bubble">
					<blockquote>
						<h4>Servicio Confiable</h4>
						<p class="quote">
                            El equipo docente Longbourn está apoyado por nuestro equipo de ingeniería y backoffice. Estamos atentos para solucionar cualquier contingencia. Siempre tendremos profesores reemplazantes disponibles en caso de imprevistos.
                		</p>
                	</blockquote>
                	<div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- End Testimonials -->

<!-- Call to Action Bar -->
<div class="section section-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="calltoaction-wrapper">
					<h3>Juega a nuestro Juego y descubre tu nivel de Inglés!</h3> <%=link_to "Jugar", {:controller => "site", :action => "play_tha_game"}, {:class => "btn btn-lg  btn-grey"}%>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Call to Action Bar -->

<div class="section">
    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 info-frame" style="margin-top: 20px;">
				<h1>Características Generales de los Cursos Longbourn Executive</h1>
			</div>
			<div class="col-xs-8 col-xs-offset-2 info-frame" style="margin-top: 20px;">
				<div class="course-features-table">
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Duración de cada Libro
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									36 hrs. Cronológicas
								</div>
								<div class="data-row">
									24 Clases de 90 mins. – Aprox. 3 meses.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Frecuencia de Clases
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									2 o más veces por semana
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Horarios
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									Lunes a Viernes, a definir con el cliente.
								</div>
								<div class="data-row">
									Primer Horario inicia a las 08:00
								</div>
								<div class="data-row">
									Último Horario inicia a las 18:30 hrs.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Ubicación
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									Oficina del cliente.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Reprogramaciones de Clases
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									3 Reprogramaciones de Clases por cada 36 hrs. contratadas (no aplica para cursos Sence)
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Código Sence
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									A partir de grupos de 4 o más personas.
								</div>
							</div>
						</div>
					</div>
					<div class="row table-row">
						<div class="col-xs-12">
							<div class="col-xs-5 table-header">
								Criterio de aprobación de cursos
							</div>
							<div class="col-xs-7 table-data">
								<div class="data-row">
									Obtener promedio de notas sobre 4.0
								</div>
								<div class="data-row">
									75% de asistencia.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>