<!-- MAIN CONTENT -->
<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Services</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <p style="margin-bottom:20px;">
            <span class="primary-letter style-3 base">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>What we do</span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="figure">
                            <img alt="" src="images/prv/col-img-8.jpg" class="img-responsive">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-1.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title">Web Design</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="figure">
                            <img alt="" src="images/prv/col-img-4.jpg" class="img-responsive">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-2.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title">Development</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="figure">
                            <img alt="" src="images/prv/col-img-3.jpg" class="img-responsive">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="images/prv/col-img-3.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i> View</a>
                            </div>
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title">Marketing</h2>
                            <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr mb-40">
                <h3 class="section-title left">
                    <span class="">What do we offer</span>
                    <small class="">Lorem ipsum dolor sit amet</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Coding</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">SE Optimization</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Technical support 24/7</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Monthly updated</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-plane"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Ready to use</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice white animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Short info</span></h3>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-7">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Some of our services</span></h3>
                    </div>

                    <div class="tabs-framed boxed">
                        <ul class="tabs clearfix">
                            <li class="active"><a href="#events" data-toggle="tab">Events</a></li>
                            <li><a href="#starred" data-toggle="tab">Starred</a></li>
                            <li><a href="#archive" data-toggle="tab">Archive</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="events">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="starred">
                                <!-- Place Your Content Here -->
                            </div>

                            <div class="tab-pane fade" id="archive">
                                <!-- Place Your Content Here -->
                            </div>
                        </div>
                    </div>
                               
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-banner-2 animate-in-view">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><i class="fa fa-bar-chart-o fa-4x"></i></h4>
                        <h2>UI Elements and Shortcodes for a more dynamic content</h2>
                        
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="pie-chart" data-percent="91">
                                    <span class="percent"></span>
                                    <div class="chart-text">
                                        <h3>Business ready</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="pie-chart" data-percent="23">
                                    <span class="percent"></span>
                                    <div class="chart-text">
                                        <h3>Business ready</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="pie-chart" data-percent="68">
                                    <span class="percent"></span>
                                    <div class="chart-text">
                                        <h3>Business ready</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="pie-chart" data-percent="68">
                                    <span class="percent"></span>
                                    <div class="chart-text">
                                        <h3>Business ready</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
