<!-- MAIN CONTENT -->
<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Metodología TEG</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>Metodología TEG</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left">
                    <span>El Método TEG</span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/metodologia_teg/teg1.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title">¿Qué es TEG?</h2>
                            <p>
                            Teaching English Gradually o Enseñanza gradual del inglés es una combinación de las teorías de aprendizaje que busca, de acuerdo a objetivos planteados, desarrollar competencias propias de las 4 habilidades del lenguaje: leer, escribir, escuchar y hablar.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/metodologia_teg/teg2.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title">¿Por qué estudiar en Longbourn?</h2>
                            <p>
                            TEG toma en cuenta los pilares fundamentales de la enseñanza y aprendizaje del inglés, los cuales son la cohesión y la coherencia. Estos pilares están sólidamente establecidos en áreas del conocimiento, tales como ciencias, arte, matemática e historia.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="wp-block default">
                        <div class="figure">
                            <%=image_tag "web-imgs/metodologia_teg/teg3.jpg", :class => "img-responsive"%>
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title">¿Cómo son las clases en Longbourn?</h2>
                            <p>
                            TEG considera las habilidades y características propias de cada estudiante para generar una estrategia de enseñanza, la cual da especial importancia a la forma en la que aprende el estudiante. Esto se sustenta a través de la diversidad de inteligencias que define al alumno para aprender inglés. Además, TEG está diseñado para generar un ambiente donde las conductas espontaneas y dinámicas sean parte de una educación integral.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-base">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><i class="fa fa-calendar fa-3x"></i></h4>
                        <h2>La Historia de la Metodología TEG</h2>
                        <p>
                            Entendiendo la Metodología TEG a través de su historia.
                        </p>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <ul class="timeline">
                <li class="year">1991</li>     
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>Inicios</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    A comienzos del año 1991 Elba Calderón comenzó a estudiar el proceso de adquisición del lenguaje materno. Observó que al momento de aprender un idioma este se hace de manera gradual y ordenada, avanzando de lo particular a lo general. Esto dio inicio a la creación del método TEG (Teaching English Gradually), el cual considera que el orden de las secuencias es muy dependiente de la cultura de origen, razón por la cual acomodó las secuencias de la enseñanza del idioma inglés a las del lenguaje materno, en este caso el español. 
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix"></li>
                
                <li class="year">1992</li>
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>1992 - 1997</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Tras años de verificación del método lo inscribió en el Registro de Propiedad Intelectual junto a la primera versión de los libros de enseñanza de inglés basados en TEG. A partir de ese momento, inició la enseñanza del idioma Inglés a muchas personas con excelentes resultados. Ese fue el comienzo de la Metodología TEG que permite obtener resultados sorprendentes, ya que cada clase incorpora actividades orientadas a leer, escribir, escuchar y hablar en inglés de manera simultánea.<br>
                                    <br>
                                    Para lograr transmitir su Metodología de Enseñanza de Inglés en forma sistemática, Elba dedicó muchos años de labor profesional, para ampliar el desarrollo de TEG y escribir una serie de libros basados en este método.   
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix"></li>

                <li class="year">1998</li>
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>1998 - 2000</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Entre los años 1998 a 2000 Elba trabajó utilizando el Método TEG con alumnos de rango etario amplio, abarcando escolares, estudiantes universitarios y profesionales de distintas disciplinas.    
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix"></li>

                <li class="year">2001</li>
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>2001</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Muchos profesionales compartieron con Elba sus frustraciones por no haber logrado aprender inglés a pesar de haberlo intentado por muchos años, perdiendo tiempo valioso para su desarrollo personal y profesional. Por este motivo en el año 2001 comenzó a aplicar la Metodología TEG con Ejecutivos de Empresas Multinacionales, desarrollando actividades orientadas a sus áreas de trabajo.    
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix"></li>

                <li class="year">2002</li>
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>2002 - 2007</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Al corto plazo de implementar el trabajo con TEG, logró excelentes resultados con los Ejecutivos, generando muchas recomendaciones de éstos hacia sus pares de otras Empresas. El sector empresarial se interesó en el trabajo de Elba, solicitando Cursos Individuales y Grupales para sus empleados en sus oficinas.    
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="clearfix"></li>

                <li class="year">2008</li>
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>2008</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Como consecuencia del éxito previo en el año 2008, Elba fundó Longbourn con el objeto de expandir la aplicación del Método TEG atendiendo a Ejecutivos y Empresas a través de Cursos de Inglés In Office.    
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="clearfix"></li>

                <li class="year">2009</li>
                <li class="event offset-first">
                    <div class="event-date">
                        <h3>2009 - 2013</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Longbourn comenzó a crecer incorporando cada vez más profesores y enseñando inglés a profesionales de diversas especialidades en muchas empresas.    
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="event">
                    <div class="event-date">
                        <h3>2014</h3>  
                    </div>
                    <div class="event-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    En el año 2014 Longbourn amplió su atención abriendo sus puertas a todas aquellas personas que quieran aprender y mejorar su nivel de inglés, ofreciendo una gran variedad de cursos en su propia sede.    
                                </p>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="clearfix"></li>
            </ul>
        </div>
    </div>    
</section>


<section class="slice white animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Objetivos de cada Nivel de Inglés</span></h3>
                    </div>
                    <p>
                        Los objetivos que se busca desarrollar en cada nivel son los que se indican a continuación.
                    </p>

                    <div class="tabs-framed boxed">
                        <ul class="tabs clearfix">
                            <li class="active"><a href="#lvla" data-toggle="tab">Level A</a></li>
                            <li><a href="#lvlb" data-toggle="tab">Level B</a></li>
                            <li><a href="#lvlc" data-toggle="tab">Level C</a></li>
                            <li><a href="#lvld" data-toggle="tab">Level D</a></li>
                            <li><a href="#lvle" data-toggle="tab">Level E</a></li>
                            <li><a href="#lvlf" data-toggle="tab">Level F</a></li>
                            <li><a href="#lvlg" data-toggle="tab">Level G</a></li>
                            <li><a href="#lvlh" data-toggle="tab">Level H</a></li>
                            <li><a href="#lvli" data-toggle="tab">Level I</a></li>
                            <li><a href="#lvlj" data-toggle="tab">Level J</a></li>
                            <li><a href="#lvlk" data-toggle="tab">Level K</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="lvla">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Comunicar quiénes son, saludar y generar expresiones del ambiente inmediato.</li>
                                        <li>Responder preguntas limitadas.</li>
                                        <li>Escuchar y comprender diálogos simples.</li>
                                        <li>Producir inglés escrito acotado.</li>
                                        <li>Todo lo anterior en los tiempos presente y pasado.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="lvlb">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Comunicar ideas breves, responder preguntas y sugerencias de contextos más amplios.</li>
                                        <li>Escuchar diálogos, canciones y lecturas sencillas.</li>
                                        <li>Escribir, leer y entender textos breves (como correspondencia electrónica)</li>
                                        <li>Utilizar los tiempos continuos en presente y pasado.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="lvlc">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer diálogos simples.</li>
                                        <li>Generar y responder preguntas y sugerencias simples.</li>
                                        <li>Comprender canciones con modelos conocidos.</li>
                                        <li>Escribir, y comprender, textos simples dirigidos a angloparlantes.</li>
                                        <li>Comprender tiempos verbales simples, continuos, y perfectos en presente, pasado y futuro.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvld">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer conversaciones simples en torno a temas cotidianos.</li>
                                        <li>Asistir a reuniones de negocios e identifican situaciones conocidas relacionadas con su quehacer.</li>
                                        <li>Escuchar canciones y videos simples con modelos conocidos.</li>
                                        <li>Escribir correspondencia electrónica dirigida, incorporando nuevas destrezas, a nativos o clientes angloparlantes.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvle">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer conversaciones cotidianas en torno a temas relacionados con el trabajo, vida familiar y competencias.</li>
                                        <li>Asistir a reuniones de negocios.</li>
                                        <li>Conocer y aplicar elementos de fonética (para pronunciar y comprender adecuadamente).</li>
                                        <li>Leer, escribir y comprender informes y documentos sencillos.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvlf">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer conversaciones personal o telefónicamente con angloparlantes o nativos, también hacerlo en actividades de negocios o sociales, acerca de temas relacionados al trabajo, vida familiar, tiempo libre, y temas de interés.</li>
                                        <li>Asistir y participar (entiende, habla, sugiere) en reuniones de negocios.</li>
                                        <li>Realizar y responder preguntas complejas, sugerencias, ofrecimientos, requerimientos, consejos y obligaciones.</li>
                                        <li>Escuchar y comprender el inglés producido coloquial y formalmente.</li>
                                        <li>Escribir textos en el ámbito profesional o social como cartas, informes, ensayos presentaciones y otros relacionados.</li>
                                        <li>Leer y comprender textos técnicos, profesionales, revisas serias, informes periodísticos.</li>
                                        <li>Comprender y utilizar, en la construcción del inglés, las ideas expresadas en los tiempos simples, continuos y perfectos en presente, pasado y futuro.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvlg">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Participar de manera importante y productiva en reuniones de negocios o profesionales (escuchando, hablando, sugiriendo, discrepando).</li>
                                        <li>Realizar y contestar preguntas complejas, requerimientos, consejos, y obligaciones.</li>
                                        <li>Comunicarse con nativos.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvlh">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer conversaciones personal o telefónicamente de manera fluida con nativos o angloparlante.</li>
                                        <li>Conversar temas diversos en reuniones sociales y de negocio con nativos en torno al acontecer actual y asuntos de relevancia general.</li>
                                        <li>Realizar y responder preguntas sofisticadas.</li>
                                        <li>Escribir formalmente textos con claridad en el área profesional o social como cartas, informes, ensayos y presentaciones.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvli">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Participar en reuniones de negocios de forma activa y productiva (escuchar, hablar, inferir, proponer, solucionar).</li>
                                        <li>Participar activamente en conferencias o cursos.</li>
                                        <li>Realizar y responder preguntas especializadas.</li>
                                        <li>Comprender el inglés en producciones coloquiales formales como congresos, películas, canciones, noticieros, documentales y otros relacionados.</li>
                                        <li>Escribir formalmente textos elaborados en el campo social y profesional.</li>
                                        <li>Leer textos de diversa índole, por ejemplo: textos técnicos, profesionales, periodísticos, revistas, publicidad.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvlj">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer conversaciones personales o telefónicas fluidas, avanzadas, efectivas con nativos o clientes angloparlantes.</li>
                                        <li>Asistir y participar en reuniones de negocios en forma activa y productiva (escuchar, hablar, inferir, proponer, disuadir, solucionar).</li>
                                        <li>Asistir y participar activamente en conferencias o cursos.</li>
                                        <li>Realizar y responder preguntas especializadas.</li>
                                        <li>Escuchar y comprender el idioma en producciones coloquiales y formales en ambientes profesionales y académicos. Se presentan en conversaciones con nativos o clientes angloparlantes, congresos, debates, películas, canciones, noticieros, documentales u otros.</li>
                                        <li>Conocer y utilizar conocimientos de fonética, para pronunciar y escuchar adecuadamente.</li>
                                        <li>Escribir formalmente textos elaborados, complejos ya sea en el campo profesional, académico o social como cartas, informes, ensayos, presentaciones, y otros documentos dirigidos a nativos o clientes angloparlantes. </li>
                                        <li>Leer y comprender una variedad de textos de diversa índole ya sea técnicos, profesionales, académicos.</li>
                                        <li>Incorporar vocabulario nuevo.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lvlk">
                                <!-- Place Your Content Here -->
                                <div class="tab-body">
                                    <ul class="level-description">
                                        <li>Establecer conversaciones personales o telefónicas fluidas, sofisticadas, abstractas, eficientes y efectivas con nativos o angloparlantes.</li>
                                        <li>Asistir y participar en reuniones de negocios y académicas en forma activa y productiva (escuchar, hablar, inferir, proponer, disuadir, solucionar).</li>
                                        <li>Manejar giros imprevistos en las conversaciones con fuerte manejo de referentes culturales.</li>
                                        <li>Realizar y responder preguntas sofisticadas y especializadas.</li>
                                        <li>Escuchar y comprender el idioma en rangos de diferentes estilos y registros en producciones coloquiales y formales en ambientes profesionales y académicos. Se presentan en conversaciones con nativos o clientes angloparlantes. Manejar el idioma en congresos, debates, declaraciones, obras de teatro, películas, canciones, noticieros, documentales u otros.</li>
                                        <li>Escribir formalmente textos altamente especializados, densos, complejos y analíticos, en el campo social, académico y profesional, como cartas, informes, ensayos, presentaciones, artículos, publicaciones y otros documentos dirigidos a angloparlantes o nativos.</li>
                                        <li>Leer y comprender textos de diversa índole de carácter profesional, técnico, académico y literario.</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                               
                </div>
            </div>
        </div>
    </div>
</section>

